@{
    ViewBag.Title = "Home Page";
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Home.css" rel="stylesheet" />
    <title>Home</title>
</head>

<body>
    <div id="main">
        <div class="header">
            <div class="desc">
                <div class="left">
                    <img src="https://st.depositphotos.com/2041377/4392/v/450/depositphotos_43929859-stock-illustration-house-shaped-piggy-bank.jpg"
                         alt="">
                </div>
                <div class="right" style="margin-left:70px; font-size:25px" >
                    <h1>Home Loans For You</h1>
                    <h4>
                        Connect with us and get suitable home loan for you. <br />
                        We are here to complete your dreams.
                    </h4>
                   
                </div>
            </div>
        </div>
        <div class="footer">
            <h1>FEATURES</h1>
            <ul style="font-size:large">
                <li>Fast Process</li>
                <li>Easy To Apply</li>
                <li>Easy Emi</li>
                <li>User Friendly</li>
                <li>Salary Based</li>
            </ul>
        </div>
    </div>
</body>

</html>